{% extends 'main/layout.html' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1>Основе про нас</h1><br>
    <div class="div_text">
    <p class="simple_text">SymDrive - компанія з орендування авто. Наш авто парк вже налічує більше 10 нових обслужених авто.
        Основною відмінністю від інших компаній з оренди є можливість оплати погодинно,
        якщо ви орендуєте авто менше ніж на 12 годин, та миттєвою актуалізацією інформації про авто.</p>
    </div>
{% endblock %}